.test__wrapper {
  padding: 2rem 0;
}

.test__container {
  padding: 3rem 2rem;
}
.test__dark {
  color: #fff;
  background: #333;
}

.test__hero {
  height: 300px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.test__button {
  color: #fff;
  outline: none;
  border: none;
  background: #333;
  padding: 1rem 1.5rem;
}

.test__dark .test__button {
  color: #333;
  background: #ddd;
}
